/*#####################AJUSTES GERAIS DA SESSÃO DE LOGIN#####################*/

p {
    color: #ffffff;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 0;
    align-self: flex-start;
    width: 75%;
}

label {
    align-self: flex-start;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
    resize: none;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    flex-direction: row;
}

h1 {
    display: flex;
    font-size: 50px;
    align-self: flex-start;
    color: #ffffff;
    font-weight: bolder;
    margin-top: 30px; 
    margin-left: 50px;
    margin-bottom: 20px;
}

.linha { /*DIV QUE FAZ COM QUE ELE IGNORE O ALINHAMENTO EM COLUNA PARA DEIXAR LADO A LADO*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 10px;
}
